<template>
  <footer class="the-footer">
    FOOTER
  </footer>
</template>

<script>
export default {
  name: 'TheFooter',
};
</script>

<style lang="scss" scoped>
.the-footer {
  padding: 100px 0;
  background: cornflowerblue;
  text-align: center;
}
</style>
