<template>
  <header class="the-header">
    HEADER
  </header>
</template>

<script>
export default {
  name: 'TheHeader',
};
</script>

<style lang="scss" scoped>
.the-header {
  padding: 40px 0;
  background-color: forestgreen;
  text-align: center;
  color: #fff;
}
</style>
