@font-face {
  font-family: 'Rotonda';
  src: url('../fonts/RotondaC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rotonda';
  src: url('../fonts/RotondaC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
